flows.json
[{"id":"9c9baf72.b2151","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e350bae.20ecc4","type":"http request","z":"9c9baf72.b2151","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/12669f6f-0ac4-4a15-a4c8-ffcbe2dc26c5/deployments/3c59f3a3-66d2-44d4-af1d-f9f22c99bc31/online","tls":"","proxy":"","x":401,"y":57.010414123535156,"wires":[["1640fadf.a967d5","558c0d8c.18a114"]]},{"id":"646afebd.1e124","type":"function","z":"9c9baf72.b2151","name":"prediction","func":"var token=msg.payload.token;\nvar va = global.get(\"va\");\nvar ca = global.get(\"ca\");\nvar tsd = global.get(\"tsd\");\nvar d = global.get(\"d\");\nvar a = global.get(\"a\")\nmsg.payload={\"fields\":[\"volatile acidity\",\"citric acid\",\"total sulfur dioxide\",\"density\",\"sulphates\"],\"values\":[[va,ca,tsd,d,a]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":121.01041412353516,"wires":[["6e350bae.20ecc4","2b854844.89eb78"]]},{"id":"2b854844.89eb78","type":"debug","z":"9c9baf72.b2151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":801,"y":57.010414123535156,"wires":[]},{"id":"69bb7e4d.40231","type":"http request","z":"9c9baf72.b2151","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":454,"y":318.01041412353516,"wires":[["9d73e063.61b93","646afebd.1e124"]]},{"id":"f9802d77.82f4c","type":"function","z":"9c9baf72.b2151","name":"token_generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"ee8809b1-6d47-49d1-b5ca-aae9255c1be5\"\nvar password=\"f37b6be3-249b-4fc3-a3c1-077c89ee46fb\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"va\",msg.payload.va)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"tsd\",msg.payload.tsd)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"a\",msg.payload.a)\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":274.01041412353516,"wires":[["69bb7e4d.40231"]]},{"id":"558c0d8c.18a114","type":"function","z":"9c9baf72.b2151","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":534.9999923706055,"y":126.01042556762695,"wires":[["2b854844.89eb78","411e4bc9.9823a4"]]},{"id":"9d73e063.61b93","type":"debug","z":"9c9baf72.b2151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":701,"y":337.01041412353516,"wires":[]},{"id":"380159e2.c59f46","type":"ui_form","z":"9c9baf72.b2151","name":"","label":"","group":"4fa37d48.fb1f04","order":3,"width":0,"height":0,"options":[{"label":"volatile acidity","value":"va","type":"number","required":true},{"label":"citric acid","value":"ca","type":"number","required":true},{"label":"total sulfur dioxide","value":"tsd","type":"number","required":true},{"label":"density","value":"d","type":"number","required":true},{"label":"sulphates","value":"a","type":"number","required":true}],"formValue":{"va":"","ca":"","tsd":"","d":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":121,"y":377.01041412353516,"wires":[["f9802d77.82f4c"]]},{"id":"411e4bc9.9823a4","type":"ui_text","z":"9c9baf72.b2151","group":"4fa37d48.fb1f04","order":5,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":721,"y":177.01041412353516,"wires":[]},{"id":"1640fadf.a967d5","type":"debug","z":"9c9baf72.b2151","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":597,"y":23.010414123535156,"wires":[]},{"id":"4fa37d48.fb1f04","type":"ui_group","z":"","name":"logestic_reg","tab":"926c95ce.1a3328","disp":true,"width":"6","collapse":false},{"id":"926c95ce.1a3328","type":"ui_tab","z":"","name":"LOGREG","icon":"dashboard","disabled":false,"hidden":false}]